mnexec
.cache/
*.log
*.pyc
*~
*.1
*.xcodeproj
*.xcworkspace
\#*\#
mininet.egg-info
build
dist
doc/html
doc/latex
trunk
.vagrant/

docker_ndn.tar
.docker*
docker_ndn-player.tar
ndn_headless-player/
ndn_player/
ndn_repo/
ndn_ui/
ndnfs_files/
poster.zip
poster/
raspberry_pi/
results/
router/
**/*.DS_Store
.ipynb_checkpoints/
dash.js/
misc/
dash/
.vscode/
ndn-experiment/expected_bandwidth.txt

!ndn-containers/**
